version: "3.9"

services:
  website:
    image: nginx
    restart: unless-stopped
    ports:
      - "1313:80"
    volumes:
      - ./site:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      # The domain the service will respond to
      - "traefik.http.routers.website.rule=Host(`perses.dev`)"
      - "traefik.http.routers.website.tls.certresolver=myresolver"

  demo:
    image: "docker.io/persesdev/perses:v0.48.0-distroless"
    ports:
      - "5000:8080"
    command: "--config=/etc/perses/config/config.yaml"
    volumes:
      - ./provisioning:/etc/perses/provisioning
      - ./secret:/etc/perses/config
      - ./data:/perses
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # The domain the service will respond to
      - "traefik.http.routers.demo.rule=Host(`demo.perses.dev`)"
      - "traefik.http.routers.demo.tls.certresolver=myresolver"
  prometheus:
    image: "docker.io/prom/prometheus:v2.51.2"
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
  traefik:
    image: "docker.io/traefik:v2.9.10"
    command:
      - "--providers.docker=true"
      # https://doc.traefik.io/traefik/user-guides/docker-compose/acme-tls/
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=perses-team@googlegroups.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "443:443"
    volumes:
      # So that Traefik can listen to the Docker events
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock"
      - "./letsencrypt:/letsencrypt"
