version: '3.9'
services:
  demo:
    image: "docker.io/persesdev/perses:v0.40.0"
    ports:
      - "5000:8080"
    environment:
      PERSES_DATABASE_FILE_EXTENSION: "json"
      PERSES_READONLY: true
      PERSES_IMPORTANT_DASHBOARDS_0_PROJECT: "perses"
      PERSES_IMPORTANT_DASHBOARDS_0_DASHBOARD: "NodeExporterFull"
      PERSES_INFORMATION: |-
        # Welcome to the Demo instance of Perses!

        This public demo instance is here to give you of what Perses looks like,
        with some example dashboards & more.

        This instance is readonly. If you wish to play with the edit mode,
        go to the [Sandbox instance](https://sandbox.perses.dev/) instead.
    volumes:
      - ./local_db:/perses
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # The domain the service will respond to
      - "traefik.http.routers.demo.rule=Host(`demo.perses.dev`)"
      - "traefik.http.routers.demo.tls.certresolver=myresolver"

  sandbox:
    image: "docker.io/persesdev/perses:v0.40.0"
    ports:
      - "5001:8080"
    environment:
      PERSES_DATABASE_FILE_EXTENSION: "json"
      PERSES_READONLY: false
      PERSES_INFORMATION: |-
        # Welcome to the Sandbox instance of Perses!

        This public sandbox instance is here to let you play with Perses.
        Create your own projects, dashboards & more!

        If you just want to have a showcase of what's possible to create
        in Perses, please go to the [Demo instance](https://demo.perses.dev/)
        instead.
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      # The domain the service will respond to
      - "traefik.http.routers.sandbox.rule=Host(`sandbox.perses.dev`)"
      - "traefik.http.routers.sandbox.tls.certresolver=myresolver"

  traefik:
    image: "docker.io/traefik:v2.9.10"
    command:
      - "--providers.docker=true"
      # https://doc.traefik.io/traefik/user-guides/docker-compose/acme-tls/
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=perses-team@googlegroups.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "443:443"
    volumes:
      # So that Traefik can listen to the Docker events
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock"
      - "./letsencrypt:/letsencrypt"
